.heroTitle {
  line-height: 58px;
  font-size: 48px;
  font-weight: 600;
}

.heroDesc {
  margin-top: 2rem;
  margin-bottom: 2.75rem;
  line-height: 32px;
  font-size: 16px;
  font-weight: 400;
}

.illustration {
  width: 88%;
  height: auto;
  object-fit: contain;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    bottom: -10px;
    left: calc(50% - 18px);
    height: 2px;
    width: 36px;
    background-color: var(--bs-primary);
  }
}

.sectionDesc {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 665px;
  margin: 1.5rem auto;
  padding: 0 1.5rem;
}

.title2 {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title2,
.description2 {
  text-align: center;
}

.description2 {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.featureCard {
  background-color: #fff;
  gap: 16px;
  box-shadow: 1px 4px 24px 2px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.featureQuote {
  font-size: 24px;
  font-weight: 400;
}
