.ManageLayout {
  padding-top: calc(42px + 8vw);
}

.mainArea {
  min-height: calc(100vh - 42px - 8vw - 3rem);
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .mainArea {
    border-left: 1px solid var(--sh-gray-lightest);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .ManageLayout {
    padding-top: 120px;
  }
  .mainArea {
    min-height: calc(100vh - 120px - 3rem);
  }
}

.leftMenu {
  & > li {
    border-bottom: 1px solid var(--sh-gray-lightest);
  }
  & > li:last-child {
    border-bottom: none;
  }
}

.link {
  font-weight: 500;
  color: var(--sh-gray);
  transition: var(--transition);
}

.linkSelected {
  color: var(--bs-primary);
}
