.Navbar-general {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
}

.Navbar {
  @extend .Navbar-general;
  padding: 0 52px;
  & h1 {
    font-weight: 600;
    font-size: 28px;
  }
}

.NavbarMobile {
  @extend .Navbar-general;
  padding-top: 4vw;
  padding-left: 6vw;
  padding-right: 6vw;
  & h1 {
    font-weight: 600;
    font-size: 24px;
  }
}

.logo {
  width: 52px;
  height: 52px;
}

.logoMobile {
  width: 42px;
  height: 42px;
}

.logoWrapper {
  margin: 42px 0;
  padding: 0 16px;
  gap: 24px;
}

.menuWrapper {
  padding: 52px 0;
  gap: 48px;
  li {
    list-style: none;
  }
}

.buttonWrapper {
  gap: 24px;
  & > button {
    width: 40px;
    height: 40px;
    background-color: transparent;
  }
}

.iconBtn {
  border-radius: 50%;
  border: 2px solid var(--sh-gray-lighter);
}

.profileBtn {
  border-radius: 15px;
  border: 2px solid var(--bs-blue-300);
  // background-image: url("/profile.png");
  background-size: contain;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.navLink,
.navLink:visited {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--sh-dark);
  transition: var(--transition);
}

.navLink:hover,
.navLink:active {
  color: var(--bs-primary);
}

.menuButton {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 24px;
}

.mobileMenuWrapper {
  z-index: 5;
  background-color: var(--bs-blue-600);
  & > ul {
    overflow-y: auto;
    overflow-x: hidden;
    li {
      list-style: none;
    }
  }
}

.navLinkMobile,
.navLinkMobile:visited {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bs-light);
  transition: var(--transition);
}

.navLinkMobile:hover,
.navLinkMobile:active {
  color: var(--sh-gray-lighter);
}
