.Navbar-general {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
}

.Navbar {
  @extend .Navbar-general;
  padding: 0 52px;
  & img.logo {
    width: 52px;
    height: 52px;
  }
  & h1 {
    font-weight: 600;
    font-size: 28px;
  }
}

.NavbarMobile {
  @extend .Navbar-general;
  padding-top: 4vw;
  padding-left: 6vw;
  padding-right: 6vw;
  & img.logo {
    width: 42px;
    height: 42px;
  }
  & h1 {
    font-weight: 600;
    font-size: 24px;
  }
}

.logoWrapper {
  padding: 42px 16px;
  gap: 24px;
}

.menuWrapper {
  padding: 52px 0;
  gap: 48px;
  li {
    list-style: none;
  }
}

.navLink,
.navLink:visited {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--sh-dark);
  transition: var(--transition);
}

.navLink:hover,
.navLink:active {
  color: var(--bs-primary);
}

.menuButton {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 24px;
}

.mobileMenuWrapper {
  z-index: 5;
  background-color: var(--bs-blue-600);
  & > ul {
    overflow-y: auto;
    overflow-x: hidden;
    li {
      list-style: none;
    }
  }
}

.navLinkMobile,
.navLinkMobile:visited {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--bs-light);
  transition: var(--transition);
}

.navLinkMobile:hover,
.navLinkMobile:active {
  color: var(--sh-gray-lighter);
}
