.Navbar {
  padding: 0 52px;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
}

.logoWrapper {
  padding: 42px 16px;
  gap: 24px;
}

.brand {
  font-weight: 600;
  font-size: 28px;
}

.menuWrapper {
  padding: 52px 0;
  gap: 48px;
  li {
    list-style: none;
  }
}

.navLink,
.navLink:visited {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--sh-dark);
  transition: var(--transition);
}

.navLink:hover,
.navLink:active {
  color: var(--bs-primary);
}
