.NavbarAlt {
  padding: 0 52px;
  & h1 {
    font-weight: 600;
    font-size: 28px;
  }
}

.logoWrapper {
  padding: 32px 16px;
  gap: 24px;
}

.logo {
  width: 52px;
  height: 52px;
}

.buttonWrapper {
  gap: 24px;
  & > button {
    width: 40px;
    height: 40px;
    background-color: transparent;
  }
}

.iconBtn {
  border-radius: 50%;
  border: 2px solid var(--sh-gray-lighter);
}

.profileBtn {
  border-radius: 15px;
  border: 2px solid var(--bs-blue-300);
  // background-image: url("/profile.png");
  background-size: contain;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}
