.SelectGroup {
  gap: 6px;
  & > label {
    font-size: 12px;
    font-weight: 500;
  }
  & > select {
    outline: none;
    box-shadow: none;
    border: 2px solid var(--sh-gray-light);
    border-radius: 8px;
    transition: all 120ms ease-out;
    padding: 6px 14px;
    font-size: 14px;
    font-weight: 400;
    color: var(--sh-gray-dark);
    & > option {
      font-size: 14px;
      font-weight: 400;
    }
  }
  & > select:focus {
    border-color: var(--bs-blue-200);
    box-shadow: none !important;
  }
  & > select:disabled {
    opacity: 1;
  }
  & > small {
    top: 64px;
    left: 8px;
    right: 8px;
    color: var(--sh-gray-dark);
  }
}

.SelectGroup_error {
  & > select {
    border-color: var(--bs-pink-300);
  }
  & > small {
    color: var(--bs-pink-400);
  }
}
