.actionBtn {
  border: none;
  background-color: transparent;
}

.profileWrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  & > img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
